.el-alert {
    align-items: flex-start;
}

.el-alert__icon {
    // 大号全区提示样式重写
    &.is-big {
        width: 24px;
        height: 24px;
        font-size: 24px;
        margin-right: 8px;
        margin-top: 6px;
        & ~ .el-alert__content {
            padding: 8px 8px;
            .el-alert__title {
                display: inline-block;
                line-height: 21px;
            }
            .el-alert__description {
                margin-top: 9px;
            }
        }
    }
}
