.el-breadcrumb {
    .el-breadcrumb__inner, .el-breadcrumb__inner a {
        font-weight: normal;
        color: $--color-primary;
    }
    &.is-disabled {
    	.el-breadcrumb__item {
		    &:not([aria-current="page"]) {
					.el-breadcrumb__inner {
			    	color: $--color-gray-light-4;
			    	cursor: auto;
			    	&:hover {
			    		color: $--color-gray-light-4;
			    	}
			    }
		    }
    	}
    }

}
