.el-button {
    &--default {
        &:hover {
            background-color: inherit;
        }
        &.el-button--primary {
            &:hover {
                background-color: $--color-primary-light-7;
            }
        }
    }
    &.is-disabled {
        border: 1px solid $--color-gray-light-8;
        &.el-button--text {
            border-color: transparent;
            &:hover,
            &:active,
            &:focus {
                border-color: transparent;
            }
        }
        background-color: white;
        color: $--color-gray-light-7;
        &:hover,
        &:active,
        &:focus {
            border: 1px solid $--color-gray-light-8;
            background-color: white;
            color: $--color-gray-light-7;
        }
    }
}
