/*
函数定义
 */
$--arr-sizes: (12, 14, 16, 18, 20, 22, 24, 26, 28, 30);

@mixin font() {
    @each $font-size in $--arr-sizes {
        .font-#{$font-size} {
            font-size: #{$font-size}px;
            line-height: #{1.5 * $font-size}px;
            color: #515152;
        }
    }
}

@mixin font-weight($font-weight: blod) {
    font-weight: $font-weight;
}

@mixin color($color: #515152) {
    color: $color;
}

/*
实现
 */
@include font();

.font-w-100 {
    @include font-weight(100)
}

.font-w-200 {
    @include font-weight(200)
}

.font-w-300 {
    @include font-weight(300)
}

.font-w-400 {
    @include font-weight(400)
}

.font-w-500 {
    @include font-weight(500)
}

.font-w-600 {
    @include font-weight(600)
}

.font-w-700 {
    @include font-weight(700)
}

.font-w-800 {
    @include font-weight(800)
}

.font-w-900 {
    @include font-weight(900)
}

.font-c-blue, .font-c-primary {
    @include color($--color-primary)
}

.font-c-green, .font-c-success {
    @include color($--color-success)
}

.font-c-danger {
    @include color($--color-danger)
}

.font-c-warning {
    @include color($--color-warning)
}

.font-c-info {
    @include color($--color-info)
}

.font-c-white {
    @include color(#FFFFFF)
}

.font-c-gray-shallow-1 {
    @include color(#CBCBCB)
}

.font-c-gray-deep-1 {
    @include color(#8e8e8f)
}

