.el-form-item__label{
    padding-right: 16px;
}
.el-form-item{
    margin-bottom: 16px;
    .el-form-item {
    	margin-bottom: 12px;
    }
}
.el-popover{
    box-sizing: border-box;
    padding: 16px;
}

.el-form--label-top {
	.el-form-item__label {
		line-height: 18px;
		padding-bottom: 8px;
	}
}

.el-form--inline {
	.el-form-item {
		margin-right: 16px;
	}
}

.sw-form {
	&--advanced {
		.el-select, input, textarea {
			width: 100%;
		}
	}
}