.el-alert--success {
    border: $--alert-success-border;
    padding: 7px 16px;
    & .el-alert__content {
        .el-alert__title {
            font-weight: normal;
            font-size: 14px;
            color: $--color-text-primary
        }
        .el-alert__description {
            color: $--color-text-primary
        }
    }
}

.el-alert--warning {
    border: $--alert-warning-border;
    padding: 7px 16px;
    & .el-alert__content {
        .el-alert__title {
            font-weight: normal;
            font-size: 14px;
            color: $--color-text-primary
        }
        .el-alert__description {
            color: $--color-text-primary
        }
    }
}

.el-alert--error {
    border: $--alert-danger-border;
    & .el-alert__content {
        .el-alert__title {
            font-weight: normal;
            font-size: 14px;
            color: $--color-text-primary
        }
        .el-alert__description {
            color: $--color-text-primary
        }
    }
}

.el-alert--info {
    border: $--alert-info-border;
    padding: 7px 16px;
    & .el-alert__icon {
        color: $--color-primary;
    }
    & .el-alert__content {
        .el-alert__title {
            font-weight: normal;
            font-size: 14px;
            color: $--color-text-primary
        }
        .el-alert__description {
            color: $--color-text-primary
        }
    }
}

.el-alert__closebtn {
    font-size: 18px;
    top: 7px;
    right: 16px;
    color: #515152;
}
