.el-input__inner, .el-textarea__inner {
    padding: 0 8px;
    &:hover {
        border-color: $--color-primary;
    }
}
.el-input__icon {
	&.iconfont {
		font-size: inherit;
		display: inline-block;
	}
}

.sw-input-btn {
	&--mix {
		.el-input, .el-button {
			vertical-align: top;
		}
	}
}