.el-loading-mask{
    .el-loading-spinner {
        i {
            display: block;
            animation: loadingA 1s linear infinite;
            &.icon-jiazai_xuanzhong1 {
                font-size: 35px;
            }
        }
    }
}

@keyframes loadingA {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
