.el-radio__input.is-checked {
    .el-radio__inner {
        background-color: $--color-white;
        &:after {
            width: 6px;
            height: 6px;
            background-color: $--color-primary;
        }
    }
}

.el-radio__label {
    padding-left: 8px;
}
