.el-tabs__item {
    color: #8E8E8F;
    height: 34px;
    line-height: 34px;
    &.is-active {
        font-weight: bold;
    }
}

.el-tabs--card > .el-tabs__header .el-tabs__item {
    background: #f5f5f5;
    color: #8E8E8F;
    &.is-active {
        background: #FFFFFF;
        color: #296AB4;
        font-weight: bold;
    }
}

.el-tabs__header {
    margin: 0;
}

.el-tabs__content {
    padding: 16px;
}
