.el-tabs__item {
    color: #8E8E8F;
    height: 34px;
    line-height: 34px;
    &.is-active {
        font-weight: bold;
    }
}

.el-tabs--card > .el-tabs__header .el-tabs__item {
    background: #f5f5f5;
    color: #8E8E8F;
    &.is-active {
        background: #FFFFFF;
        color: $--color-primary;
        font-weight: bold;
    }
}

.el-tabs__header {
    margin: 0;
}

.el-tabs__content {
    padding: 16px;
}

.el-tabs__item {
    padding: 0 24px;
}

.el-tabs__active-bar {
    padding: 0 24px;
    left: -24px;
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-closable:hover {
    padding-left: 24px;
    padding-right: 24px;
}

.el-tabs--card > .el-tabs__header .el-tabs__item .el-icon-close {
    width: 14px !important;
}

.el-tabs--top.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right .el-tabs__item:nth-child(2) {
    padding-left: 24px;
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active.is-closable {
    padding-left: 24px;
    padding-right: 24px;
}

.el-tabs--top.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--top.el-tabs--card .el-tabs__item:last-child, .el-tabs--top .el-tabs--left .el-tabs__item:last-child, .el-tabs--top .el-tabs--right .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--left .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right .el-tabs__item:last-child {
    padding-right: 24px;
}

.el-tabs--top .el-tabs__item.is-top:nth-child(2), .el-tabs--top .el-tabs__item.is-bottom:nth-child(2), .el-tabs--bottom .el-tabs__item.is-top:nth-child(2), .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2) {
    padding-left: 24px;
}

.el-tabs--card > .el-tabs__header .el-tabs__item .el-icon-close {
    height: 14px;
    line-height: 14px;
    right: -3px;
}
