.el-table thead {
    color: $--color-gray-light-1;
}

.el-table th {
    padding: 8px 0;
}

.el-table td {
    padding: 6px 0;
}

.el-table {
    .cell {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.el-table--striped .el-table__body tr.el-table__row--striped {
    td {
        background: $--table-striped-color;
    }
    &:hover {
    	td {
	        background: $--table-row-hover-background;
	    }
    }
}
