.el-table thead {
    color: $--color-gray-light-1;
    th.is-leaf {
        border-top: $--table-border;
        border-bottom-width: 2px;
    }
}

.el-table th {
    padding: 8px 0;
}

.el-table td {
    padding: 6px 0;
}

.el-table {
    font-size: 12px;
    &[sw-stripe] {
        tbody {
            tr:nth-child(2n - 1) {
                &:hover {
                    td {
                        background: $--table-row-hover-background;
                    }
                }
                td {
                    background: rgba(0,0,0,0.02);
                }
            }
        }
    }
    .cell {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.el-table--striped .el-table__body tr.el-table__row--striped {
    td {
        background: $--table-striped-color;
    }
    &:hover {
    	td {
	        background: $--table-row-hover-background;
	    }
    }
}
