.el-tooltip__popper.is-dark {
    background: nth($--color-text-dark-maps, 2);
    color: white;
    .popper__arrow {
    	&:after {
    		border-top-color: nth($--color-text-dark-maps, 2) !important;
    	}
    }
}
