$--border-radius-base: 4px !default;

$--button-padding-vertical: 9px !default;
$--button-padding-horizontal: 20px !default;
$--button-border-radius: #{$--border-radius-base - 1} !default;

$--button-medium-padding-vertical: 7px !default;
$--button-medium-padding-horizontal: 20px !default;
$--button-medium-border-radius: #{$--border-radius-base - 1} !default;

$--button-small-padding-vertical: 6px !default;
$--button-small-padding-horizontal: 8px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;

$--button-mini-padding-vertical: 6px !default;
$--button-mini-padding-horizontal: 8px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;