$--border-radius-base: 2px !default;
$--tag-border-radius: $--border-radius-base !default;

$--button-padding-vertical: 8px !default;
$--button-padding-horizontal: 16px !default;
$--button-border-radius: $--border-radius-base !default;

$--button-large-padding-vertical: 10px !default;
$--button-large-padding-horizontal: 24px !default;
$--button-large-border-radius: #{$--border-radius-base - 1} !default;

$--button-medium-padding-vertical: 8px !default;
$--button-medium-padding-horizontal: 16px !default;
$--button-medium-border-radius: #{$--border-radius-base - 1} !default;

$--button-small-padding-vertical: 5px !default;
$--button-small-padding-horizontal: 8px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;

$--button-mini-padding-vertical: 5px !default;
$--button-mini-padding-horizontal: 8px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;