@import './function.scss';

/* 基础变量
-------------------------- */
$--color-black: rgba(0,0,0,1) !default;
$--color-white: rgba(255,255,255,1) !default;

$--color-dark1: transparentize($--color-black, .15) !default; // 85% 主标题文字颜色
$--color-dark2: transparentize($--color-black, .25) !default; // 75% 主要文字颜色
$--color-dark3: transparentize($--color-black, .55) !default; // 45% 次要文字颜色
$--color-dark4: transparentize($--color-black, .75) !default; // 25% 禁止颜色
$--color-dark5: transparentize($--color-black, .85) !default; // 15% 边框颜色
$--color-dark6: transparentize($--color-black, .92) !default; // 8% 失效背景色
$--color-dark7: transparentize($--color-black, .96) !default; // 4% 背景颜色01
$--color-dark8: transparentize($--color-black, .98) !default; // 2% 表头颜色02

$--color-light1: transparentize($--color-white, 0)  !default; // 100% 主标题文字颜色
$--color-light2: transparentize($--color-white, .15) !default; // 85% 主要文字颜色
$--color-light3: transparentize($--color-white, .25) !default; // 75% 次要文字颜色
$--color-light4: transparentize($--color-white, .55) !default; // 45% 禁止颜色
$--color-light5: transparentize($--color-white, .75) !default; // 25% 边框颜色
$--color-light6: transparentize($--color-white, .85) !default; // 15% 失效背景色
$--color-light7: transparentize($--color-white, .92) !default; // 8% 背景颜色01

/* 文字颜色
-------------------------- */
$--color-text-dark-maps: generateTextColors(dark);
$--color-text-light-maps: generateTextColors(white);

$--color-text-title: nth($--color-text-dark-maps, 1) !default;
$--color-text-primary: nth($--color-text-dark-maps, 2) !default;
$--color-text-regular: nth($--color-text-dark-maps, 2) !default;
$--color-text-secondary: nth($--color-text-dark-maps, 3) !default;
$--color-text-placeholder: nth($--color-text-dark-maps, 4) !default;

/* 边框颜色
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: $--color-dark5 !default;
$--border-color-light: #dfe4ed !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;

$--input-border: $--border-base !default;

/* 失效颜色
-------------------------- */
$--disabled-color-base: nth($--color-text-dark-maps, 3) !default;
$--disabled-border-base: $--border-color-base !default;
$--disabled-fill-base: nth($--color-text-dark-maps, 7) !default;

/* 基础色
-------------------------- */
$--color-primary: #2288EE !default; // 品牌色
$--color-danger:  #FC353C !default; // 错误色
$--color-success: #00CC43 !default; // 成功色
$--color-warning: #FC9630 !default; // 警告色

/* 新色卡 色阶9%
-------------------------- */
$--color-primary-dark-5: build-color($--color-primary, 45%, black) !default;
$--color-primary-dark-4: build-color($--color-primary, 36%, black) !default;
$--color-primary-dark-3: build-color($--color-primary, 27%, black) !default;
$--color-primary-dark-2: build-color($--color-primary, 18%, black) !default;
$--color-primary-dark-1: build-color($--color-primary, 9%, black) !default;
$--color-primary-lighter-1: build-color($--color-primary, 9%) !default;
$--color-primary-lighter-2: build-color($--color-primary, 18%) !default;
$--color-primary-lighter-3: build-color($--color-primary, 27%) !default;
$--color-primary-lighter-4: build-color($--color-primary, 36%) !default;
$--color-primary-lighter-5: build-color($--color-primary, 45%) !default;

$--color-primary-maps: generateColors($--color-primary);
$--color-success-maps: generateColors($--color-success);
$--color-warning-maps: generateColors($--color-warning);
$--color-danger-maps: generateColors($--color-danger);

/* 旧色卡
-------------------------- */
$--color-primary-light-10: #E9F0F7 !default;
$--color-primary-light-9: #CADAEC !default;
$--color-primary-light-8: #9EBCDD !default;
$--color-primary-light-7: #6896CA !default;
$--color-primary-light-6: $--color-primary !default;
$--color-primary-light-5: #255DA1 !default;
$--color-primary-light-4: #204F8D !default;
$--color-primary-light-3: #1B4179 !default;
$--color-primary-light-2: #173364 !default;
$--color-primary-light-1: #12244F !default;

$--color-danger-light-10: #FCEEEB !default;
$--color-danger-light-9: #F7D5CF !default;
$--color-danger-light-8: #F1B3A7 !default;
$--color-danger-light-7: #E98776 !default;
$--color-danger-light-6: $--color-danger !default;
$--color-danger-light-5: #CD4A3B !default;
$--color-danger-light-4: #B93D38 !default;
$--color-danger-light-3: #A52F36 !default;
$--color-danger-light-2: #902233 !default;
$--color-danger-light-1: #7B1431 !default;

$--color-grass-green-light-10: #F0F8F9 !default;
$--color-grass-green-light-9: #DBEECB !default;
$--color-grass-green-light-8: #BEE0A0 !default;
$--color-grass-green-light-7: #99CE6A !default;
$--color-grass-green-light-6: #6FBA2C !default;
$--color-grass-green-light-5: #6BA928 !default;
$--color-grass-green-light-4: #669724 !default;
$--color-grass-green-light-3: #61851F !default;
$--color-grass-green-light-2: #5D721B !default;
$--color-grass-green-light-1: #585F16 !default;

$--color-success-light-10: #EBF7F2 !default;
$--color-success-light-9: #CEECE0 !default;
$--color-success-light-8: #A6DDC7 !default;
$--color-success-light-7: #74CAA7 !default;
$--color-success-light-6: $--color-success !default;
$--color-success-light-5: #34A177 !default;
$--color-success-light-4: #2E8E6B !default;
$--color-success-light-3: #277A5E !default;
$--color-success-light-2: #216651 !default;
$--color-success-light-1: #1A5144 !default;

$--color-cyan-light-10: #E9F8F7 !default;
$--color-cyan-light-9: #CAEDEC !default;
$--color-cyan-light-8: #9FDEDD !default;
$--color-cyan-light-7: #69CCC9 !default;
$--color-cyan-light-6: #2BB7B3 !default;
$--color-cyan-light-5: #26A2A1 !default;
$--color-cyan-light-4: #228D8E !default;
$--color-cyan-light-3: #1D777B !default;
$--color-cyan-light-2: #186167 !default;
$--color-cyan-light-1: #134A53 !default;

$--color-lake-blue-light-10: #E5F5FC !default;
$--color-lake-blue-light-9: #C0E8F7 !default;
$--color-lake-blue-light-8: #8CD5F1 !default;
$--color-lake-blue-light-7: #4ABEE9 !default;
$--color-lake-blue-light-6: #00A3E0 !default;
$--color-lake-blue-light-5: #008FC9 !default;
$--color-lake-blue-light-4: #007BB1 !default;
$--color-lake-blue-light-3: #006598 !default;
$--color-lake-blue-light-2: #00507F !default;
$--color-lake-blue-light-1: #003A66 !default;

$--color-purple-light-10: #F4F3FD !default;
$--color-purple-light-9: #E4E2FA !default;
$--color-purple-light-8: #CFCAF6 !default;
$--color-purple-light-7: #B3ACF2 !default;
$--color-purple-light-6: #948AEC !default;
$--color-purple-light-5: #8374DB !default;
$--color-purple-light-4: #715EC9 !default;
$--color-purple-light-3: #5E47B7 !default;
$--color-purple-light-2: #4B30A4 !default;
$--color-purple-light-1: #381891 !default;

$--color-powder-light-10: #FBE5F2 !default;
$--color-powder-light-9: #F6C0DF !default;
$--color-powder-light-8: #EE8CC6 !default;
$--color-powder-light-7: #E44AA5 !default;
$--color-powder-light-6: #D90080 !default;
$--color-powder-light-5: #C5007D !default;
$--color-powder-light-4: #B0007A !default;
$--color-powder-light-3: #9A0077 !default;
$--color-powder-light-2: #840073 !default;
$--color-powder-light-1: #6E0070 !default;

$--color-orange-light-10: #FEF4E5 !default;
$--color-orange-light-9: #FCE5C0 !default;
$--color-orange-light-8: #FAD08C !default;
$--color-orange-light-7: #F7B64A !default;
$--color-orange-light-6: #F39800 !default;
$--color-orange-light-5: #DC8000 !default;
$--color-orange-light-4: #C46700 !default;
$--color-orange-light-3: #C46700 !default;
$--color-orange-light-2: #933300 !default;
$--color-orange-light-1: #7A1800 !default;

$--color-yellow-light-10: #FEFDE5 !default;
$--color-yellow-light-9: #FDFAC0 !default;
$--color-yellow-light-8: #FAF68C !default;
$--color-yellow-light-7: #F8F04A !default;
$--color-yellow-light-6: #F5EA00 !default;
$--color-yellow-light-5: #DECA00 !default;
$--color-yellow-light-4: #C6A800 !default;
$--color-yellow-light-3: #AD8600 !default;
$--color-yellow-light-2: #946200 !default;
$--color-yellow-light-1: #7A3F00 !default;

$--color-gold-light-10: #F7F5F0 !default;
$--color-gold-light-9: #ECE8DA !default;
$--color-gold-light-8: #DDD5BC !default;
$--color-gold-light-7: #C9BE96 !default;
$--color-gold-light-6: #B3A36B !default;
$--color-gold-light-5: #A39160 !default;
$--color-gold-light-4: #927D55 !default;
$--color-gold-light-3: #816949 !default;
$--color-gold-light-2: #70553D !default;
$--color-gold-light-1: #5E4131 !default;

$--color-dark-gray-light-10: #F7F5F0 !default;
$--color-dark-gray-light-9: #CDCFD4 !default;
$--color-dark-gray-light-8: #A3A7B0 !default;
$--color-dark-gray-light-7: #6F7683 !default;
$--color-dark-gray-light-6: #343D50 !default;
$--color-dark-gray-light-5: #2F3648 !default;
$--color-dark-gray-light-4: #29393F !default;
$--color-dark-gray-light-3: #242837 !default;
$--color-dark-gray-light-2: #1E212E !default;
$--color-dark-gray-light-1: #181A25 !default;

$--color-light-gray-light-10: #FEFEFE !default;
$--color-light-gray-light-9: #FDFDFE !default;
$--color-light-gray-light-8: #FBFCFC !default;
$--color-light-gray-light-7: #F9FAFB !default;
$--color-light-gray-light-6: #F6F8F9 !default;
$--color-light-gray-light-5: #D9DEE3 !default;
$--color-light-gray-light-4: #BAC4CD !default;
$--color-light-gray-light-3: #9AA8B6 !default;
$--color-light-gray-light-2: #7A8C9F !default;
$--color-light-gray-light-1: #5A7087 !default;

$--color-gray-light-10: #F7F7F7 !default;
$--color-gray-light-9: #EDEDED !default;
$--color-gray-light-8: #DEDEDE !default;
$--color-gray-light-7: #CBCBCB !default;
$--color-gray-light-6: #B5B5B5 !default;
$--color-gray-light-5: #A2A2A3 !default;
$--color-gray-light-4: #8E8E8F !default;
$--color-gray-light-3: #7A7A7B !default;
$--color-gray-light-2: #666667 !default;
$--color-gray-light-1: #515152 !default;

/* 颜色定义
-------------------------- */
$--color-info: $--color-gray-light-6 !default;

$--color-dark-gray: $--color-dark-gray-light-6 !default;
$--color-light-gray: $--color-light-gray-light-6 !default;
$--color-gray: $--color-gray-light-6 !default;

$background-color-blue: $--color-primary !default;
$background-color-deep-blue: $--color-primary-light-4 !default;
$background-color-gray: $--color-gray-light-9 !default;
$background-color-white: $--color-white !default;
$border-color: $--color-gray-light-1 !default;

$--tag-background-color: #eaf4fd;
