// 基础
$--disabled-fill-base: #f5f5f5;
$--color-text-base: #515152;
$--color-text-regular: #515152;
$--border-color-base: #dedede;

// 基础色
$--color-primary-light-10: #E9F0F7;
$--color-primary-light-9: #CADAEC;
$--color-primary-light-8: #9EBCDD;
$--color-primary-light-7: #6896CA;
$--color-primary-light-6: #296AB4;
$--color-primary-light-5: #255DA1;
$--color-primary-light-4: #204F8D;
$--color-primary-light-3: #1B4179;
$--color-primary-light-2: #173364;
$--color-primary-light-1: #12244F;

$--color-danger-light-10: #FCEEEB;
$--color-danger-light-9: #F7D5CF;
$--color-danger-light-8: #F1B3A7;
$--color-danger-light-7: #E98776;
$--color-danger-light-6: #E0563D;
$--color-danger-light-5: #CD4A3B;
$--color-danger-light-4: #B93D38;
$--color-danger-light-3: #A52F36;
$--color-danger-light-2: #902233;
$--color-danger-light-1: #7B1431;

$--color-grass-green-light-10: #F0F8F9;
$--color-grass-green-light-9: #DBEECB;
$--color-grass-green-light-8: #BEE0A0;
$--color-grass-green-light-7: #99CE6A;
$--color-grass-green-light-6: #6FBA2C;
$--color-grass-green-light-5: #6BA928;
$--color-grass-green-light-4: #669724;
$--color-grass-green-light-3: #61851F;
$--color-grass-green-light-2: #5D721B;
$--color-grass-green-light-1: #585F16;

$--color-success-light-10: #EBF7F2;
$--color-success-light-9: #CEECE0;
$--color-success-light-8: #A6DDC7;
$--color-success-light-7: #74CAA7;
$--color-success-light-6: #3AB483;
$--color-success-light-5: #34A177;
$--color-success-light-4: #2E8E6B;
$--color-success-light-3: #277A5E;
$--color-success-light-2: #216651;
$--color-success-light-1: #1A5144;

$--color-cyan-light-10: #E9F8F7;
$--color-cyan-light-9: #CAEDEC;
$--color-cyan-light-8: #9FDEDD;
$--color-cyan-light-7: #69CCC9;
$--color-cyan-light-6: #2BB7B3;
$--color-cyan-light-5: #26A2A1;
$--color-cyan-light-4: #228D8E;
$--color-cyan-light-3: #1D777B;
$--color-cyan-light-2: #186167;
$--color-cyan-light-1: #134A53;

$--color-lake-blue-light-10: #E5F5FC;
$--color-lake-blue-light-9: #C0E8F7;
$--color-lake-blue-light-8: #8CD5F1;
$--color-lake-blue-light-7: #4ABEE9;
$--color-lake-blue-light-6: #00A3E0;
$--color-lake-blue-light-5: #008FC9;
$--color-lake-blue-light-4: #007BB1;
$--color-lake-blue-light-3: #006598;
$--color-lake-blue-light-2: #00507F;
$--color-lake-blue-light-1: #003A66;

$--color-purple-light-10: #F4F3FD;
$--color-purple-light-9: #E4E2FA;
$--color-purple-light-8: #CFCAF6;
$--color-purple-light-7: #B3ACF2;
$--color-purple-light-6: #948AEC;
$--color-purple-light-5: #8374DB;
$--color-purple-light-4: #715EC9;
$--color-purple-light-3: #5E47B7;
$--color-purple-light-2: #4B30A4;
$--color-purple-light-1: #381891;

$--color-powder-light-10: #FBE5F2;
$--color-powder-light-9: #F6C0DF;
$--color-powder-light-8: #EE8CC6;
$--color-powder-light-7: #E44AA5;
$--color-powder-light-6: #D90080;
$--color-powder-light-5: #C5007D;
$--color-powder-light-4: #B0007A;
$--color-powder-light-3: #9A0077;
$--color-powder-light-2: #840073;
$--color-powder-light-1: #6E0070;

$--color-orange-light-10: #FEF4E5;
$--color-orange-light-9: #FCE5C0;
$--color-orange-light-8: #FAD08C;
$--color-orange-light-7: #F7B64A;
$--color-orange-light-6: #F39800;
$--color-orange-light-5: #DC8000;
$--color-orange-light-4: #C46700;
$--color-orange-light-3: #C46700;
$--color-orange-light-2: #933300;
$--color-orange-light-1: #7A1800;

$--color-yellow-light-10: #FEFDE5;
$--color-yellow-light-9: #FDFAC0;
$--color-yellow-light-8: #FAF68C;
$--color-yellow-light-7: #F8F04A;
$--color-yellow-light-6: #F5EA00;
$--color-yellow-light-5: #DECA00;
$--color-yellow-light-4: #C6A800;
$--color-yellow-light-3: #AD8600;
$--color-yellow-light-2: #946200;
$--color-yellow-light-1: #7A3F00;

$--color-gold-light-10: #F7F5F0;
$--color-gold-light-9: #ECE8DA;
$--color-gold-light-8: #DDD5BC;
$--color-gold-light-7: #C9BE96;
$--color-gold-light-6: #B3A36B;
$--color-gold-light-5: #A39160;
$--color-gold-light-4: #927D55;
$--color-gold-light-3: #816949;
$--color-gold-light-2: #70553D;
$--color-gold-light-1: #5E4131;

$--color-dark-gray-light-10: #F7F5F0;
$--color-dark-gray-light-9: #CDCFD4;
$--color-dark-gray-light-8: #A3A7B0;
$--color-dark-gray-light-7: #6F7683;
$--color-dark-gray-light-6: #343D50;
$--color-dark-gray-light-5: #2F3648;
$--color-dark-gray-light-4: #29393F;
$--color-dark-gray-light-3: #242837;
$--color-dark-gray-light-2: #1E212E;
$--color-dark-gray-light-1: #181A25;

$--color-light-gray-light-10: #FEFEFE;
$--color-light-gray-light-9: #FDFDFE;
$--color-light-gray-light-8: #FBFCFC;
$--color-light-gray-light-7: #F9FAFB;
$--color-light-gray-light-6: #F6F8F9;
$--color-light-gray-light-5: #D9DEE3;
$--color-light-gray-light-4: #BAC4CD;
$--color-light-gray-light-3: #9AA8B6;
$--color-light-gray-light-2: #7A8C9F;
$--color-light-gray-light-1: #5A7087;

$--color-gray-light-10: #F7F7F7;
$--color-gray-light-9: #EDEDED;
$--color-gray-light-8: #DEDEDE;
$--color-gray-light-7: #CBCBCB;
$--color-gray-light-6: #B5B5B5;
$--color-gray-light-5: #A2A2A3;
$--color-gray-light-4: #8E8E8F;
$--color-gray-light-3: #7A7A7B;
$--color-gray-light-2: #666667;
$--color-gray-light-1: #515152;

// 颜色定义
$--color-primary: $--color-primary-light-6;
$--color-danger: $--color-danger-light-6;
$--color-success: $--color-success-light-6;
$--color-warning: $--color-orange-light-6;
$--color-info: $--color-gray-light-6;

$--color-dark-gray: $--color-dark-gray-light-6;
$--color-light-gray: $--color-light-gray-light-6;
$--color-gray: $--color-gray-light-6;
$--color-white: white;

$background-color-blue: $--color-primary;
$background-color-deep-blue: $--color-primary-light-4;
$background-color-gray: $--color-gray-light-9;
$background-color-white: $--color-white;
$border-color: $--color-gray-light-1;
