$--input-height: 34px !default;

$--input-medium-height: 30px !default;
$--input-medium-font-size: 12px !default;

$--input-small-height: 26px !default;
$--input-small-font-size: 12px !default;

$--input-mini-height: 26px !default;
$--input-mini-font-size: 12px !default;